body, html {
  height: 100%;
  /* background-color: #002a53; */
}

.parallax {
  /* The image used */
  background-image: url(../img/LS_Sagacity.Banner.jpg);

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  /* The image used */
  background-image: url(../img/Black_Feather\ Flag.jpg);

  /* Full height */
  height: 75%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-3 {
  /* The image used */
  background-image: url(../img/Eebyrtagh.jpg);

  /* Full height */
  height: 75%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-4 {
  /* The image used */
  background-image: url(../img/Crew.1.jpg);

  /* Full height */
  height: 75%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p1{
  font-family: "Sagacity";
}

.p1 p{
  font-family: "Lord Skudley";
}

#p2{
  font-family: "Indy";
}
#p3{
  font-family: "Lord Skudley";
  color: whitesmoke
}

#p4{
  font-family:"Sagacity";
  color: whitesmoke
}
